<div class="post-block">
    <a href="/profile/{{ this.user_id }}" ><img class="circle" src="{{this.imgurl}}" alt="avatar" /></a>
    <div class="post-text-block">
        <div class="post-title grey">{{ this.subject }}<span class="post-topic">{{ this.topic }}</span></div>
        <div class="post-detail grey">{{ this.detail }}</div>
        <div class="post-date grey">{{ this.date_formated }}</div>
        <a class="post-replies-btn grey" href="/post/{{ this.post_id }}" >{{this.replies_count}}</a>
    </div>
</div>