{{>header}}

<div class="container">
    <div class="left_div textcenter">
        <a href="/profile/{{ userInfo.user_id }}" ><img class="circle" src="{{userInfo.imgurl}}" alt="avatar" /></a>
        <h2>{{userInfo.fname}} {{userInfo.lname}}</h2>
        <p class="grey">{{userInfo.description}}</p>

        <table class="link">
            <tr>
                <td width="100px"><a href="/post/all">Posts</a></td>
                <td>{{numOfPost}}</td>
            </tr>
            <tr>
                <td width="100px"><a href="/messages">Messages</a></td>
                <td>{{numOfChat}}</td>
            </tr>
            <tr>
                <td width="100px">Likes</td>
                <td>10</td>
            </tr>
        </table>

        <div class="edit_profile_div"><a href="/edit/profile">Edit Profile</a></div>
    </div>
    <div class="right_div">
        <div class="grey largeText">Whats your question today?</div>

        <input type="text" id="subject" placeholder="Subject" />
        <textarea type="text" rows="4" id="detail" placeholder="Explain in detail..."></textarea>
        <select id="topic">
            <option value="">Topic</option>
            <option value="php">php</option>
            <option value="nodejs">nodejs</option>
            <option value="java">java</option>
            <option value="sql">sql</option>
            <option value="zend">zend</option>
        </select>

        <button id="submitPostBtn" onclick="submitPost()">Post to Timeline</button>

        <p>Search by topic</p>
        <form class="inline" method="post" action="/filter">
            <select id="filter" name="search_keyword">
                <option value="">Topic</option>
                <option value="php">php</option>
                <option value="nodejs">nodejs</option>
                <option value="java">java</option>
                <option value="sql">sql</option>
                <option value="zend">zend</option>
            </select>
            <button type="submit" id="submitFilterBtn">Go</button>
        </form>

        <div id="latest-post-div">
            {{#each latestPost}}
            {{>eachPost}}
            {{/each}}
        </div>
        <div class="pagingButton" id="lastPageButton" onclick="postsPaging(-1)">Last Page</div>
        <div class="pagingButton" id="nextPageButton" onclick="postsPaging(1)">Next Page</div>
    </div>
</div>

<div id="snackbar"></div>
<script src="/js/home.js" defer></script>