{{>header}}

<div class="container">
    <div class="left_div textcenter chat-tiles">
        {{#each rows}}
        <div class="chat-tile" onclick="onChatTile({{this.user_id}}, '{{this.subject}}')"
            id="{{this.user_id}}-{{this.subject}}">
            <img class="avatar-thumbnail circle" src="{{this.imgurl}}" alt="avatar" />
            <div class="chat-header">
                <p class="chat-name">{{this.fname}} {{this.lname}}</p>
                <p class="chat-subject">{{this.subject}}</p>
            </div>
        </div>
        <hr>
        {{/each}}
    </div>
    <div class="right_div">
        <div class="chat-box">

        </div>
        <div class="chat-text-box">
            <form class="chat-form">
                <input type="text" id="chat-message-form" placeholder="Write a message...">
                <button class="inline" type="submit" id="send-message-btn" onclick="onSendMessage(event)">Send</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/messages.js" defer></script>